<label>Server Name</label>
<!-- <input type="text"
class="form-control"
(input)="onUpdateServerName($event)"> -->

<input type="text"
class="form-control"
[(ngModel)]="serverName">

<button class="btn btn-primary" 
[disabled]="!allowNewServer" 
(click)="onCreateServer()">Add Server</button>
<p *ngIf="serverCreated">{{serverCreationStatus}}</p>
<app-server *ngFor="let server of servers"></app-server>

<hr>

<h3>Another challenge:</h3>

<button class="btn btn-primary"
(click)="toggleDisplayDetails()">Display Details</button>
<p *ngIf="display">Badman</p>
<p *ngFor="let click of clicks; let i = index" 
[ngClass]="{myClass: i > 4}"</p> <!--because index begins with 0-->
[ngStyle]="{backgroundColor: i > 4? 'blue': 'white'}">{{click}}</p>


